// fonts
$font-primary: 'Dancing Script', cursive;
$font-secondary: 'Roboto', sans-serif;

// colors
$clr-test: #ffe9ca;
$clr-primary: #C2BC7A;

// theme colors
$theme-colors: (
  "primary": #C2BC7A
);

// @import "./_myfonts.scss";
// @import "./_mycolors.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $font-secondary;
}

html {
	scroll-behavior: smooth;
}

// Header
.header{
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 100;
	border-bottom: 2px solid black;

	.navbar-brand {
		font-family: $font-primary;
		font-weight: bold;
		font-size: 2em;
	}
}

// Footer
footer{
	position: absolute;
	right: 0;
	left: 0;
	padding: 1em 0;
	border-top: 2px solid black;
}

// Index

.hero{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.img-opacity {
	opacity: 0.8;
}

.title-border-custom{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.7);
	padding: 2em 1em;
	z-index: 2;
	color: white;
	text-align: center;
}

.title-carousel-custom{
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
	font-weight: bold;
}

.btn-custom{
	border: none;
	font-weight: bold;
	font-size: 0.8em;
}

// Home
.cont {
	margin-top: 3em;
}

.home-title{
	position: absolute;
	padding: 2em;
	background-color: rgba(0,0,0,0.8);
	top: 55%;
	left: 50%;
	transform: translate(-50%,-55%);
	z-index: 2;

	h1{
		color: white;
		text-transform: uppercase;
	}
}

.home-second-title{
	margin: 0;
	font-weight: bold;
	color: white;
	padding: .5em 0;
	background-color: rgba(0,0,0,0.8);
}

.btn-down{
	font-size: 1.5em;

	.button-icon{
		margin-bottom: .5em;
	}
}

.short-description{
	text-align: justify;	
}

.parags{
	text-align: justify;
}

.most-visited{
	font-weight: bold;
	color: white;
	background-color: rgba(0,0,0,0.8);
	padding: 0.5em 0.5em;
}

.card{
	margin: 0.5em 0;
}

// media queries

@media only screen and (min-width: 730px){
	.home-title{
		padding: 4em;
		h1{
			font-size: 4em;
		}
	}
}

@media only screen and (min-width: 992px){
	.hero{
		width: 100vw;
		height: 100%;
	}
	.home-title{
		padding: 2em;
		h1{
			font-size: 2em;
		}
	}
}